body {
  margin:0px;
  background-color:rgba(51, 62, 80, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:620px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  text-transform:none;
  visibility:hidden;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(79, 193, 176, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
  text-align:center;
  line-height:48px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:454px;
  width:930px;
  height:110px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
  text-align:center;
  line-height:48px;
}
#u62 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:299px;
  width:170px;
  height:170px;
  display:flex;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:48px;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_img.selected {
}
#u64.selected {
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:299px;
  width:170px;
  height:170px;
  display:flex;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:48px;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_img.selected {
}
#u65.selected {
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:299px;
  width:170px;
  height:170px;
  display:flex;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:48px;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_img.selected {
}
#u66.selected {
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:299px;
  width:170px;
  height:170px;
  display:flex;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:48px;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_img.selected {
}
#u67.selected {
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:55px;
  width:57px;
  height:47px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u68.mouseOver {
  opacity:0.8;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:55px;
  width:57px;
  height:47px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u69.mouseOver {
  opacity:0.8;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:55px;
  width:57px;
  height:47px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u70.mouseOver {
  opacity:0.8;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:98px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:103px;
  width:320px;
  height:98px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.8;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 19.7907692307692px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:24px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:158px;
  width:293px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:24px;
}
#u73 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:24px;
}
#u73.mouseOver {
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:134px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u75 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:132px;
  width:16px;
  height:16px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
