body {
  margin:0px;
  background-color:rgba(51, 62, 80, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:3520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:3520px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u709 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u709_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  text-transform:none;
  visibility:hidden;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(79, 193, 176, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3562px;
  width:1200px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:3353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:165px;
  width:1058px;
  height:3353px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u712 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:55px;
  width:57px;
  height:47px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u713 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u713_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u713.mouseOver {
  opacity:0.8;
}
#u713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
